{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}
{% block content %}
<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12">

    <nav id="store" class="w-full top-0 px-6 py-1">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">

            <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl ">
            About
            </a>
            <div class="mt-8 pt-8">{{ page.first_paragraph|richtext }}</div>
            <div class="mt-8 pt-8">{{ page.second_paragraph|richtext }}</div>
            <div class="mt-8 pt-8">{{ page.third_paragraph|richtext }}</div>
      </div>
    </nav>   

    </div>
{% endblock %}